@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>
<p>@Html.ActionLink("Check out our talented Stylists!!!", "Index", "Stylists")</p>
<p>@Html.ActionLink("Check out our wonderful Clients!", "Index", "Clients")</p>
